*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    //This defines 1 rem is. which is 65.5% * 16 = 10 px. 1 rem = 10px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}